@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#background-image {
    background-image: url("../images/escola_bg.png");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at center, rgba(102, 102, 102, 0.3) 3%, rgba(13, 13, 13, 0.5) 100%);
    min-height: 100vh;
}

main {
    z-index: 1;
}

main > img {
    max-width: 100%;
    height: auto;
}

.navbar {
    top: 0;        
    z-index: 1000; 
    margin: 0;     
    padding: 1rem;
    transition: top 1s;
}

.navbar-brand,
.nav-link {
    color: white !important;
}

.navbar-nav{
    margin: 0 auto;
}

.nav-item{
    margin: 0 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.social-icons a {
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
}

.social-icons a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.sections h1{
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.sections hr{
    height: 1px;
    border: none;
    background-color: #a6a6a6;
}

.sections img{
    width: 40vw;
}

.sections p{
        line-height: 1.5; /* Ajuste o espaçamento entre linhas */
        max-height: 4.5em; /* Define a altura máxima para 4 linhas */
        overflow: hidden; /* Esconde o texto que excede a altura */
        display: -webkit-box; /* Para limitar a quantidade de linhas */
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 4; /* Limita a 4 linhas */   
}

.sections a{
    margin-top: 10px;
    padding: 10px;
    border: #c3b11e 1.75px solid;
    text-align: center;
    color: #0d0d0d;
    font-weight: 450;
}

.sections a:hover{
    color: #f8f8f8;
    background-color: #c3b11e;
    text-decoration: none;
    transition: 1s;
}

.activities h1{
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
}

.activities hr{
    height: 1px;
    width: 50%;
    align-self: center;
    border: none;
    background-color: #a6a6a6;
}

.activities p{
    flex-direction: column;
    justify-content: space-around;
}

.card{
    margin: 0;
    padding: 0;
    min-height: 30vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card p{
    align-self: center;
    max-width: 350px;
    padding: 20px;
}

#separator{
    background-image: url("../images/balanca.png");
    min-height: 40vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

@media (max-width: 600px) {
    .sections {
        flex-direction: column !important; /* Força a coluna no mobile */
    }

    .sections .d-flex {
        flex-direction: column; /* Garante que cada card seja exibido verticalmente */
        width: 100%; /* Ocupa a largura total da tela */
    }

    .sections img{
        width: 100%;
    }
    
    .sections h1{
        font-size: 2rem;
    }

    .activities{
        flex-direction: column;
    }
}