    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    * {
        margin: 0;
        padding: 0;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        box-sizing: border-box;
    }

    #background-image {
        background-image: url("../images/escola_bg.png");
        min-height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #0d0d0d;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #background-image::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(circle at center, rgba(102, 102, 102, 0.3) 3%, rgba(13, 13, 13, 0.5) 100%);
        min-height: 100vh;
    }

    #background-image>img {
        z-index: 1;
    }

    .information {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: auto;
        padding: 2rem;
    }

    .about {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .about p {
        padding: 1rem 0;
    }

    .more-info-button {
        margin-top: 10px;
        text-align: center;
        border: #c3b11e 1.75px solid;
        color: #0d0d0d;
        padding: 10px;
        font-weight: 450;
        text-decoration: none;

    }

    .more-info-button:hover {
        background-color: #c3b11e;
        color: #f8f8f8;
        transition: .3s;
    }

    .info-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 4rem;
    }

    .card{
        background-color: #f8f8f8;
        border-radius: 5px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform .3s ease, box-shadow .3s ease;
        max-width: 20vw;
        text-align: center;
    }

    .card > img{
        width: 100%;
    }

    .card > h1{
        font-weight: 450;
        padding: .25rem;
        font-size: 1.5rem;
    }

    .card > hr{
        max-width: 50%;
        margin: .2rem auto;
    }

    .card > p{
        padding: 0.75rem 2rem;
        text-align: left;
    }
    @media only screen and (max-width: 600px) {
        .information {
            flex-direction: column;
        }

        .about {
            width: 110vw;
        }

        .card{
            width: 85vw;
            max-width: 85vw;
        }

        .info-cards{
            flex-direction: column;
            padding: 2rem;
        }
    }